/* font Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Tai+Heritage+Pro&display=swap');

/* all common styles  */
.body{
    font-family: 'Poppins', sans-serif;
}
.link-box{
    color: white;
    width: 196px;
    height: 100px;
    padding: 10px 24px;
    text-decoration: none;
    background: #E02C6D;
    border-radius: 41px;
}
.fa-arrow-right-long{
    width: 24px;
    height: 24px;
    color:white;
    margin-left: 8px;
}
/* nav bar style start */
nav{
    color: #3A3A3A;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#nav-text{
    color: #3A3A3A;
    margin-left: 9%;
    font-size: 16px;
}
.nav-element{
    
    margin-right: 9%;
    font-size: 16px;

}
.nav-element ul{
    display: flex;
    
    
}
.nav-element ul li{
    
    list-style-type: none;
    padding: 10px;
    margin-left: 10px;
}
.nav-element ul li a{
    color: #3A3A3A;
    text-decoration: none;
}

/* nav bar style end */

/* top section */
.influencer-info{
    display: grid;
    display: 100%;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    grid-column-gap: 133px;
    margin: 181px 165px 70px 120px;
}
.about-section{
    Width:582px;
    Height:270px;
    
}
.about-heading{
    color:#3A3A3A;
    font-weight: 700;
}
.about-text{
    color:#3A3A3A;
    padding: 12px 0 12px 0;
    margin-bottom: 16px;
}
.camera-photo img{
    width: 440px;
    height: 414px;
    
}

/* company logs section style */
.company-logs{
    display: flex;
    /* border: 5px solid white; */
    /* border: 2px solid #888888; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 36px;
    /* display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-column-gap: 60px; */
    align-items: center;
    justify-items: center;
    margin: 0 8% 0 4%;
    background: #f9f4f4;
}
.company-logs img{
    Width:84px;
    Height:26px;
}

/* product item section style */

.popular-collections{
    position: relative;
    margin: 10% 10% 10% 0;

}
.title-text{
    text-align: center;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
    align-items: center;
    margin: 0 4% 0 10%;
    margin-left: 50px;

}
.collection{
    /* width: 329px;
    height: 476px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    border-radius: 5px;

}

.fa-star.filled {
    color: gold;

}
.fa-star.nofill {
    color: wheat;
}
.see-more{
    position: absolute;
    margin-top: 50px;
    right: 50px;
    text-decoration: none;
    color: #E02C6D;
}

/* style feature product */
.feature-deail{
    display: flex;
    margin: 30px;
    padding: 10px;
}
.feature-product-info{
    padding: 1% 10% 5% 10%;
}
.feature-product-link{
    margin-top: 30px;
}
/* footer style */
footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #0A0826;
    color: #FFFFFF;
}
button{
    
    background-color: #0A0826;
    font-size: 20px;
    
    border-width: 0;
}
button .fa-brands{
    color: #FFFFFF;
    padding-left: 10px;

}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .influencer-info, .collections{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        margin: 5px;
        
            /* grid-column-gap: 133px;
            margin: 181px 165px 70px 120px; */
        }

    .camera-photo, .about-section,.collection, .feature-deail,.company-logs, nav, .nav-element ul{
        flex-direction: column;
    }
    .about-heading{
        text-align: center;
    }
    .company-logs img{
        padding: 5px;
    }
    .feature-deail{
        margin: 5px;
    }
    .camera-photo, .about-section{
        width: 100%;
        margin-right: 5px;
    }
    .camera-photo img, .feature-image img{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}
