/* font Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Tai+Heritage+Pro&display=swap');

/* all common styles  */
.body{
    font-family: 'Poppins', sans-serif;
}
.link-box{
    color: white;
    width: 196px;
    height: 100px;
    padding: 10px 24px;
    text-decoration: none;
    background: #E02C6D;
    border-radius: 41px;
}
.fa-arrow-right-long{
    width: 24px;
    height: 24px;
    color:white;
    margin-left: 8px;
}

/* top section */
.influencer-info{
    display: grid;
    display: 100%;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    grid-column-gap: 133px;
    margin: 181px 165px 70px 120px;
}
.about-section{
    Width:582px;
    Height:270px;
    
}
.about-heading{
    color:#3A3A3A;
    font-weight: 700;
}
.about-text{
    color:#3A3A3A;
    padding: 12px 0 12px 0;
    margin-bottom: 16px;
}
.camera-photo img{
    width: 440px;
    height: 414px;
    
}

/* company logs section style */
.company-logs{
    /* border: 5px solid white; */
    /* border: 2px solid #888888; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 36px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-column-gap: 60px;
    align-items: center;
    justify-items: center;
    margin: 10%;
    background: #AAAAAA;
}
.company-logs img{
    Width:84px;
    Height:26px;
}

/* product item section style */
.popular-collections{
    margin: 10%;
}
.title-text{
    text-align: center;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
    align-items: center;

}
.collection{
    width: 329px;
    height: 476px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    border-radius: 5px;

}

.fa-star.filled {
    color: gold;

}
.see-more{
    text-decoration: none;
    color: #E02C6D;
}


